/*	
*	################################################################################
*	
*	My Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Your Name
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/
.breadcrumb {
    padding: 0px 15px;
    margin-bottom: 0px;
}

.widget .widget-content {
    padding: 15px 15px;
}

.widget .widget-header {
    padding: 0 15px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3, .h3 {
    font-size: 20px;
}

.main-header {
    margin-bottom: 10px;
}

.sales-chart, .demo-flot-chart {
    height: 200px;
}

.contextual-summary-info-big {
    padding: 0px 0 10px 0;
    border-bottom: 0px solid #eee;
}

.contextual-summary-info-big p {
    font-weight: 800;
}

.top-bar .logo {
    top: 6px;
    margin-bottom: 10px;
}

.top-bar .searchbox {
    top: 6px;
}

.top-bar .logged-user .btn img {
    vertical-align: middle;
    margin-right: 0px;
    width: 34px;
    border-radius: 50px;
    border: 0px solid #5e5e5e;
}


.badge {
    background-color: #1e6887;
}

.content-wrapper {
    padding: 15px 15px;
}

.goal {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.3;
}

.badge.element-bg-color-success {
    background-color: #A7D21F;
}

.badge.element-bg-color-fail {
    background-color: #d10303;
}

.isotope-item {
    position: absolute;
    left: 0px;
    top: 0px;
}

.widget {
    border-width: 1px;
    border-style: solid;
    margin-bottom: 20px;
    background-color: #ECECEC;
    border-color: #ECECEC;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}

.isotope-item .widget .widget-header {
    background-color: #ccc;
    border-bottom-color: #ccc;
    color: #000000;
}


.team-list li {
    padding-left: 5px;
    padding-right: 5px;
}


.widget-content .number-chart .number > span {
    font-size: 42px;
    line-height: 1.4;
    font-weight: 800;
}


.bottom .container .content-wrapper {
    background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
    /* line 5105, ../../sass/vendors/_summernote-bs3.scss */
    .modal-dialog {
        width: 100%;
        /*height: 100%;*/
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 10px auto;
    }

    /* line 5110, ../../sass/vendors/_summernote-bs3.scss */
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
}

.modal-header {
    padding: 15px 15px 0 15px;

}

.modal-header h2, .h2 {
    font-size: 20px;

}

.modal-body {
    padding: 0px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #dfdfdf;
}

.nav-tabs {
    margin-bottom: 4px;
    background-color: #eeeeee;
}

.nav > li > a {
    padding: 10px 10px;
    color: #555555;
}

.nav-tabs > li > a {
    margin-right: 0px;
}

@media (max-width: 640px) {
    .widget {
        margin-left: -15px;
        margin-right: -15px;
    }
    .panel {
        margin-left: -15px;
        margin-right: -15px;
    }

    .widget .panel {
        margin-left: -15px;
        margin-right: -15px;
    }
}


@media (max-width: 1024px) {
    .nav-tabs {
        font-size: 10px;
    }
}

@media (min-width: 992px) {
    .cockpit {
        padding-right: 0px;
    }
}

@media (min-width: 1440px) {
    .nav > li > a {
        padding: 15px 15px;
    }
}

/*.content-wrapper {*/
    /*padding: 1px 4px;*/
/*}*/


body {
    background: #fff;
}

ul.main-menu > li a {
    background-color: #fff;
    border-top: 1px solid #dfdfdf;

}

ul.main-menu > li.active > a {
    background-color: #FFF;
    color: darkred;
}

.bottom .container .content-wrapper {
    background-color: #EEEEEE;
}

.widget .widget-header {
    background-color: #ffffff;
    border-bottom-color: #ffffff;
    color: #000;
}

.panel-default > .panel-heading {
    color: #000;
    background-color: #ffffff;
    border-color: #fff;
}

.panel {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    background-color: #ffffff;
}

.widget {
    border-width: 0px;
    border-style: solid;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-color: #ffffff;
}



.left-sidebar {
    border-top: 10px solid #eee;
}

.widget .widget-header em {
    color: #a4a4a4;
}

.widget .widget-header .widget-header-toolbar .control-title {
    color: #555;
}

.widget .widget-header .widget-header-toolbar {
    border-left-color: #ffffff;
}

.bottom .container .content-wrapper {
    border-left: 0px solid #e4e4e4;
}

.sidebar-content .panel.panel-default {
    background-color: #ffffff;
}

.top-bar .logged-user .dropdown-menu {
    left: -26px;
    top: 100%;
    padding: 0;
}

.main-nav-toggle:hover, .main-nav-toggle:focus {
    text-decoration: none;
}

.top-bar.navbar-fixed-top + .bottom {
    margin-top: 42px;
}



@media screen and (max-width: 991px) {
    .top-bar.navbar-fixed-top + .bottom {
        margin-top: 122px;
    }

    .row-menu {
        background-color: rgb(29, 114, 150);
        padding: 6px 0px 6px 0px;
    }

    .top-bar .logged-user .dropdown-menu {
        left: -112px;

    }

    .top-bar .logo {
        top: 8px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 850px) {
    .top-bar .searchbox {
        display: none;
    }
    .top-bar.navbar-fixed-top + .bottom {
        margin-top: 98px;
    }

    .top-bar .logged-user .btn .name {
        display: none;
    }
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://raw.githubusercontent.com/riverbed/flyscript-portal/master/thirdparty/showLoading/images/loading.gif') 50% 50% no-repeat rgba(249, 249, 249, 0.75);
}

.search-results h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.top-bar {
    padding: 0px 0;
}

.main-nav-toggle {
    font-size: 20px;
}

.top-bar .top-bar-right {
    padding-right: 0px;
}

.top-bar .notifications, .top-bar .logged-user {
    margin-top: 3px;
}

.box-shadow {
    z-index: -1;
    -webkit-box-shadow: 0px 0px 8px 2px #000000;
    -moz-box-shadow: 0px 0px 8px 2px #000000;
    box-shadow: 0px 0px 8px 2px #000000;
}

.btn-scope .fa-chevron:after {
    content: "\f107";
}
.btn-scope.collapsed .fa-chevron:after {
    content: "\f104";
}


ul.main-menu .sub-menu li.active > a {
    border-right: 5px solid #1e6887;
}

.widget .widget-header em {
    /*margin-top: 8px;*/
    line-height: 1.42857143;
}

@media screen and (max-width: 1279px) {
    .widget .widget-header em {
        display: block;
    }
}

td, th {
    padding: 6px;
}

.data-kpi-row .data-value {
    width: 32px;
    padding-left: 0px;
    font-size: 9pt;
    margin: -3px 0px -4px 0px;
}

.update {
    position: absolute;
    z-index: 2;right: 8px;
}

ul.main-menu .sub-menu li span.update a {
    padding: 6px 8px 6px 8px;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 0 6px 6px;
    border-top: 0 solid #dfdfdf;
    border-radius: 6px;
}

ul.main-menu .sub-menu li span.update a:hover {
    color: white;
    /*border: 1px solid grey;*/
    background-color: rgb(98, 98, 98);
}

.update-space {
    width: 20px;
    color: rgba(255, 255, 255, 0);
}

.nav-stacked > li {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.kv-sidenav li a {
    border-bottom: 0px solid #ddd !important;
}

.project-section ul.team-list > li img {
    width: 70px;
}

.project-section ul.team-list > li.team-add > i {
    width: 70px;
    height: 70px;

}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #e2e2e2;
}

.market-news .title {
    display: block;
    padding: 10px 0;
    font-size: 14px;
}

.market-news ul > li {
    border-top: 1px solid #ddd;
}

.market-news .heading {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 8px;
    margin-bottom: 25px;
    font-size: 16px;
    border-bottom: 4px solid #1D92AF;
}

ul.main-menu .sub-menu li a {
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    color: inherit;
    padding: 10px;
    background-color: inherit;
    font-size: 0.9em;
    text-align: center;
}

.badge.element-bg-color-red {
    background-color: red;
}


ul.main-menu .sub-menu .sub-menu li a {
    padding-left: 30px;
}


.progress.progress-xs {
    height: 5px;
    margin-top: -3px;
}

.parent-info {
    position: absolute;
    z-index: 2;
    right: 8px;
}


ul.main-menu .sub-menu li span.parent-info a {
    padding: 6px 8px 6px 8px;
    background-color: rgba(255, 255, 255, 0);
    margin: 5px 14px 6px 6px;
    border-top: 0 solid #dfdfdf;
    border-radius: 6px;
}

ul.main-menu .sub-menu li span.parent-info a:hover {
    color: white;
    /* border: 1px solid grey; */
    background-color: rgb(98, 98, 98);
}

.hint-block {
    font-size: 11px;
    padding-top: 4px;
}